body { overflow-x: hidden; }
.navbar {
    border-bottom: 1px solid green;
}
.logo {
    width: 50px;
    height: 50px;
    border-radius: 3px;
}
.segment {
    padding: 50px 0 100px 0;
}
.how-icon {
    width: 120px;
    height: 120px;
    border: 1px solid #28A745;
    border-radius: 5px;
    padding: 10px;
}
.borderbtm {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #28A745;
}
.smoothie-icon {
    width: 200px;
    height: 200px;
}
footer {
    background-color: #28A745;
    padding: 10px 0 5px 0;
}
.copyright {
    margin-top: 10px; 
    border-top: 1px solid rgb(37, 151, 63);
}
.subtle-green {
    background-color: rgb(225, 250, 230);
}